* {
    margin: 0;
    padding: 0;
}
@font-face {font-family: 'montserrat-light';src: url('../fonts/montserrat/Montserrat-Light.otf') format('woff');}
@font-face {font-family: 'montserrat-regular';src: url('../fonts/montserrat/Montserrat-Regular.otf') format('woff');}
@font-face {font-family: 'montserrat-medium';src: url('../fonts/montserrat/Montserrat-Medium.otf') format('woff');}
@font-face {font-family: 'montserrat-bold';src: url('../fonts/montserrat/Montserrat-Bold.otf') format('woff');}
@font-face {font-family: 'montserrat-semi-bold';src: url('../fonts/montserrat/Montserrat-SemiBold.otf') format('woff');}
body {font-family: montserrat-regular; line-height: 1.4}